body {
  height: 100vh;
  background: #223;
  overflow: hidden;
  display: flex;
}

.album {
  margin: 5vw;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30vw;
  height: 30vw;
}

.inner-shadow {
  position: fixed;
  z-index: 2;
  box-shadow: inset 0 0 10px 20px rgb(0 0 0 / 100%);
  opacity: 0.4;
}

.cover-dust {
  z-index: 2;
  width: 30vw;
  height: 30vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/6a/66/95/6a6695feb59a2d8bb0392b638de1fd61.jpg");
}

.cover-front {
  position: fixed;
  z-index: 1;
  width: 30vw;
  height: 30vw;
  background-image: url("https://m.media-amazon.com/images/I/61MvC4pGkDL._SL1400_.jpg");
  box-shadow: 40px 20px 20px rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.vinyl {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  perspective: 2000px;
  transition: translate 2s ease-out;
}

.vinyl-inner {
  position: relative;
  border-radius: 50%;
  box-shadow: 10px 10px 20px 14px rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
  transition: transform 2s ease;
  transform-style: preserve-3d;
}

.disc {
  border-radius: 50%;
  animation: 5s linear spinthat infinite;
  transition: spinreverse 1s ease-in-out;
  transition: spinthat 1s ease-in-out;
}

.vinyl:active .disc {
  animation: 5s linear spinreverse infinite;
}

.vinyl-front,
.vinyl-back {
  width: 100%;
  height: 100%;
  position: absolute;
}

.vinyl-front {
  background-image: url("https://w7.pngwing.com/pngs/98/38/png-transparent-phonograph-record-lp-record-music-others-miscellaneous-album-disc-jockey.png");
  background-size: 190%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.label-front {
  width: 12.4vw;
  height: 12.4vw;
  background-image: url("https://images.eil.com/large_image/QUEENS_OF_THE_STONE_AGE_SONGS%2BFOR%2BTHE%2BDEAF-231822.jpg");
  background-position: center;
  background-position-x: 70%;
  background-size: 108%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole-front {
  width: 1vw;
  height: 1vw;
  background-color: black;
  display: flex;
}

.vinyl-back {
  z-index: -1;
  background-image: url("https://www.discrepancy-records.com.au/assets/alt_2/DIS05209.jpg?20210309094950");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.hole-back {
  z-index: 0;
  width: 1vw;
  height: 1vw;
  background-color: black;
  display: flex;
}

.vinyl:active .vinyl-inner {
  transform: rotateY(180deg);
}

.album:hover .vinyl {
  translate: 50vw 0;
}

@keyframes spinthat {
  0% {
    transition: 5s ease;
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinreverse {
  0% {
    transition: 5s ease;
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
